<div class="register">
    <div class="row m-0">
        <div class="col-lg-4 p-0 order-1 order-lg-0">
            <app-business-info></app-business-info>
        </div>
        <div class="col-lg-8 p-0 order-0 order-lg-1">
            <div class="register-content">
                <div class="help text-end">
                    <h6>Having troubles? <a routerLink="/">Get Help</a></h6>
                </div>

                <div class="content">
                    <div class="back">
                        <button routerLink="/register" class="border-0 bg-transparent">
                            <img src="assets/imgs/arrow-left.svg" alt="back">
                        </button>
                    </div>
                    <div class="desc">
                        <h1>Choose the type of business</h1>
                        <p>
                            To get start tell us what type of Business you are going to <br>
                            incorporate and name
                        </p>
                    </div>
                    
                    <app-business-form></app-business-form>
                </div>
            </div>
        </div>
    </div>
</div>