.register {
    .register-content {
        padding: 48px 72px;
        background-color: #F5F6F9;
        height: 100vh;
        overflow-y: auto;
        .help {
            margin-bottom: 36px;
            h6 {
                font-size: 0.875rem;
                font-weight: 400;
                color: #38383880;
                margin-bottom: 0;
                a {
                    font-weight: 600;
                }
            }
        }
        .content {
            padding: 0 96px;
            .back {
                margin-bottom: 24px;
            }
            .desc {
                margin-bottom: 24px;
                h1 {
                    font-weight: 600;
                    font-size: 1.5rem;
                    margin-bottom: 16px;
                    color: #454C66;
                }
                p {
                    font-size: 1rem;
                    line-height: 1.75rem;
                    margin-bottom: 0;
                    color: #747A88;
                }
            }
        }

        @media (max-width: 1399.98px) {
            .content {
                padding: 0 50px;
            }
        }
        @media (max-width: 1199.98px) {
            .content {
                padding: 0 10px;
            }
        }
        @media (max-width: 991.98px) {
            height: auto;
        }
        @media (max-width: 767.98px) {
            padding: 48px;
            .content {
                padding: 0px;
            }
        }
        @media (max-width: 575.98px) {
            padding: 48px 20px;
            .help {
                margin-bottom: 30px;
            }
            .desc {
                margin-bottom: 30px;
            }
        }
    }
}