.thankyou {
    background-color: #F5F6F9;
    min-height: 100vh;
    padding: 12px;
    .content {
        .icon {
            width: 240px;
            margin: 0 auto 16px;
        }
        h1 {
            font-size: 1.5rem;
            font-weight: 600;
            color: #454C66;
            margin-bottom: 16px;
        }
        p {
            font-size: 1rem;
            font-weight: 400;
            color: #747A88;
            line-height: 1.75rem;
        }
    }
}