/* You can add global styles to this file, and also import other style files */

@import "./colors";

@import "bootstrap/scss/bootstrap";

/* root vars */
:root {
    --primary: #635CA8;
    --secondary: #6AC7BB;
    --danger: #F3446C;
    font-size: 16px;
}

/* body styles */
body {
    font-family: 'Poppins', sans-serif;
}

/* reset link style */
a {
    text-decoration: unset;
}

/* dialog style */
.custom-dialog {
    .mat-mdc-dialog-container {
        .mdc-dialog__container {
            .mdc-dialog__surface {
                border-radius: 16px;
            }
        }
    }
}